.row-align{
    width: 100%;
    background-color: #eeeeee;
    /*border: 1px solid grey;*/
}
@media (min-width: 1200px){
.col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}
.clear{
    background-color:#fff;
    width: 100%;
    height: 100%;
}
.umnrTripDetails{
    display: block;
}

.popup-win {
    position: fixed;
    min-width: 300px;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.popup-content {
    opacity: 1;
    padding: 15px;
    background-color: #fff;
}

.popup-overlay {
    /*justify-content: center;*/
    /*align-items: center;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
    opacity: 0.5;
    background: rgba(0,0,0,.6);
}

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
}

.blur-out {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

.popup-title-bar {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: #07a5e7;
}


.dropdown{
    display:inline-block;
}

.imageSection{
    padding-top:1rem;
}

.tripType{
    //margin-left: 42rem;
}
.ng-valid[required], .ng-valid.required  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left: 10px solid rgb(218, 200, 43); /* yellow */
}

.ng-invalid:not(form)  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left: 10px solid #e94646; /* red */
}

.backdrop {
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}
.modal{
    z-index: auto !important;
    top: 115px !important;
}
.example-full-width{
    border-left:none !important;
}

.btn-primary{
    background-color: #582c4f;
}
.ancillaryLabel{
    color:#582c4f;
}

.popupTravellers{
    margin-left: 70px;
}

.cdk-overlay-container{
    z-index: 9999999999 !important;
}
