<div ng-controller="amenities" class="amenities">
  <h4 class="md-display-2 ng-hide">Amenities</h4>
  <table>
    <tr ng-repeat="obj in totalAmenitiesObj">
      <td>
        <span><img src={{obj.img}}></span>
        <span>{{obj.amenity}}</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><img src="assets\img\Free_drinks.png"></span>
        <span>wifi</span>
      </td>
    </tr>
    <!--<tr>
      <td>
        <span><img src="assets/img/Free_drinks.png"></span>
        <span>Free Drinks</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><img src="assets/img/Blankets_($).png"></span>
        <span>Blankets ($)</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><img src="assets/img/Pillows_($).png"></span>
        <span>Pillows ($)</span>
      </td>
    </tr>
    <tr>
      <td>
        <span><img src="assets/img/Alcoholic_beverages_($).png"></span>
        <span>Alcoholic beverages ($)</span>
      </td>
    </tr>-->
  </table>
</div>