
.padT{
    margin-top:10px;
}
.bgC{
    background-color: #f1f1f1;
    margin-top:10px;
}
.bgL{
    background-color: #1f5084;
    border-radius: 3px;
}
.selectText{
    position: absolute;
    text-align: center;
    padding: 1%;
    width: 50px;
    background-color:#1f5084;
    border-radius: 3px;
    color:#fff;
}
.selectBox{
    background: white;
    border-radius: 5px;
    padding: 1%;
    color:#000;
    padding-left: 50px;
}
.mT2{
    margin-top:2%;
}
.cb{
    clear: both;
}