<div ng-controller="baggageDetails" class="baggageDetails">
  <h4 class="md-display-2 ng-hide">Baggage Details{{airlinesCode}}</h4>
  <div ng-if="airlinesCode=='DL'">
  <div class="baggageHeader">
    <img style="display:none;" src="assets\img\DL_logo.png" style="height:40px;width:40px"/> <span>Delta, Baggage Fees</span>
  </div>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>Fee Type</td>
          <td>cost</td>
      </tr>
        <tr>
          <td>Carry On</td>
          <td>Free</td>
        </tr>
        <tr>
          <td>1st Checked</td>
          <td>$25</td>
        </tr>
        <tr>
          <td>2nd Checked</td>
          <td>$35</td>
        </tr>
        <tr>
          <td>Additional Checked</td>
          <td>
            <div>$125 each for bag 3</div>
            <div>$200 each for bags 4-10</div>
          </td>
        </tr>
        <tr>
          <td>Overweight Bag</td>
          <td>
            <div>$90 each for 51-70 lbs</div>
            <div>$175 each for 71-100lbs</div>
          </td>
        </tr>
        <tr>
          <td>Oversized Bag</td>
          <td>
            <div>$175 each for 63"-80"</div>
            <div>$300 each for 81"-115"</div>
          </td>
        </tr>
    </table>
    <div style="width: 50%; margin:20px auto;">To know more information about baggage <a href="https://www.delta.com/content/www/en_US/traveling-with-us/baggage.html">click here</a></div>
  </div>
  <div ng-if="airlinesCode=='IB'">
  <div class="baggageHeader">
    <img style="display:none;" src="assets\img\IB_logo.png" style="height:40px;width:40px"/> <span>Iberia, Baggage Fees</span>
  </div>
    <table style="width:75%;" cellspacing="0" cellpadding="0">
      <tr>
        <td>Fee Type</td>
          <td>cost</td>
      </tr>
        <tr>
          <td>Carry On</td>
          <td>Free</td>
        </tr>
        <tr>
          <td>1st Checked</td>
          <td>
            <div>Business Class - Included</div>
            <div>Full Economy(Y) - Included</div>
            <div>Reduced Economy and Excusrion Fare - Included</div>
          </td>
        </tr>
        <tr>
          <td>2nd Checked</td>
          <td>
            <div>Business Class - Included</div>
            <div>Full Economy(Y) - Included</div>
            <div>Reduced Economy and Excusrion Fare - $100 at airport</div>
          </td>
        </tr>
        <tr>
          <td>3rd bag + any add’l bags</td>
          <td>
            <div>Business Class - 3rd Included. 4th and subsequent $200 for each at airport</div>
            <div>Full Economy(Y) - $200 for each bag at aiport</div>
            <div>Reduced Economy and Excusrion Fare - $200 for each bag at airport</div>
          </td>
        </tr>
        <tr>
          <td>Overweight Bag</td>
          <td>
            <div>Fixed Fee based on Airport</div>
          </td>
        </tr>
        <tr>
          <td>Oversized Bag</td>
          <td>
            <div>Fixed Fee based on Airport</div>
          </td>
        </tr>
    </table>
    <div style="width: 50%; margin:20px auto;">To know more information about baggage <a href="https://www.iberia.com/us/baggage/">click here</a></div>
  </div>
  <div ng-if="airlinesCode=='UA'">
    <div class="baggageHeader">
    <img style="display:none;" src="assets\img\UA_logo.png" style="height:80px;width:100px"/> <span>United Airlines Baggage Fees</span>
  </div>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>Fee Type</td>
          <td>cost</td>
      </tr>
        <tr>
          <td>Carry On</td>
          <td>Free</td>
        </tr>
        <tr>
          <td>1st Checked</td>
          <td>
            <div>$25</div>
          </td>
        </tr>
        <tr>
          <td>2nd Checked</td>
          <td>
            <div>$35</div>
          </td>
        </tr>
        <tr>
          <td>3rd bag + any add’l bags</td>
          <td>
            <div>$150</div>
          </td>
        </tr>
        <tr>
          <td>4th bag + any add’l bags</td>
          <td>
            <div>$200 for each</div>
          </td>
        </tr>
        <tr>
          <td>Overweight Bag</td>
          <td>
            <div>$100 each for 51-70 lbs</div>
            <div>$200 each for 71-100 lbs</div>
          </td>
        </tr>

        <tr>
          <td>Oversized Bag</td>
          <td>
            <div>$200 each for 63"-80"</div>
          </td>
        </tr>
    </table>
    <div style="width: 50%; margin:20px auto;">To know more information about baggage <a href="https://www.united.com/ual/en/us/fly/travel/baggage.html">click here</a></div>
  </div>
  <div ng-if="airlinesCode=='B6'">
    <div class="baggageHeader">
    <img style="display:none;" src="assets\img\B6_logo.png" style="height:40px;width:100px"/> <span>JetBlue Baggage Fees</span>
  </div>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td>Fee Type</td>
          <td>cost</td>
      </tr>
        <tr>
          <td>Carry On</td>
          <td>Free</td>
        </tr>
        <tr>
          <td>1st Checked</td>
          <td>
            <div>Blue - $25</div>
            <div>Blue Plus - Included</div>
            <div>Blue Flex - Included</div>
          </td>
        </tr>
        <tr>
          <td>2nd Checked</td>
          <td>
            <div>Blue - $35</div>
            <div>Blue Plus - $35</div>
            <div>Blue Flex - Included</div>
          </td>
        </tr>
        <tr>
          <td>3rd bag + any add’l bags</td>
          <td>
            <div>Blue - $100 each</div>
            <div>Blue Plus - $100 each</div>
            <div>Blue Flex - $100 each</div>
          </td>
        </tr>
        <tr>
          <td>Overweight Bag</td>
          <td>
            <div>$100 each for 51-100 lbs</div>
          </td>
        </tr>
        <tr>
          <td>Oversized Bag</td>
          <td>
            <div>$100 each for 63"-80"</div>
          </td>
        </tr>
    </table>
    <div style="width: 50%; margin:20px auto;">To know more information about baggage <a href="https://www.jetblue.com/travel/baggage/">click here</a></div>
  </div>
</div>