.container-fluid{
     position: absolute;
    /* height: 400px; */
    z-index: 15;
    top: 10%;
    left: 4%;
    /* r: -200px; */
    /* width: 70%; */
    background: #fff;
    padding-right: 0;
    width: 92%;
    padding-left: 0;
}
/*.container-fluid>div{
  width:50%;
  height: 400px;
}
.container-fluid div:first-child{
  float: left;
}
.container-fluid div:nth-child(2){
  float: right;
}*/
.u-bg-light-grey {
    background-color: #f6f6f6;
}
@media (max-width: 767px) {

}
.u-bg-light-grey{
  background-image: url(img/bg-image.jpg);
}
.hotel_info_container.col-xs-12{
  padding:2% 6%;
  font-size: 18px;
}
.heading{
    font-size: 30px; 
    font-weight: bold;
    color: #ff9033;
    text-align: center;
}
.hotel_info{
  font-size: 20px;
  line-height: 30px;
  padding: 4%;
}
.address{
  padding-top: 6%;
}
.address h4{
  font-weight: bold;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px),
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
  .container-fluid{
    top: 4%;
  }
}