<div class="container">
  <h1 style="color:black;">My Profile</h1>
  <div class="row">
  <div  class="col-sm-12 col-md-6 col-lg-6 col-xl-6 px-2" style="text-align:center;width:100%">
    <div class="ticket inverse">
    <header>
      <div  class="company-name"> Angelo Smith<span _ngcontent-c2="" class="airport-name" style="float: right;"> 35yrs</span></div>
     
    </header>
    <section class="airports">
     
     
      <div class="airport">
    <img src="assets/img/adult.JPG" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
        <div  class="airport-code" style="float: right;"> angelo@gmail.com </div>
        
      </div>
    </section>
    <section  class="place">
    <h1>PREFERENCE</h1>
      <div  class="place-block">
        <div  class="place-label"> Seat </div>
        <div  class="place-value"> window </div>
      </div>
      <div  class="place-block">
        <div  class="place-label"> Book </div>
        <div class="place-value"> Train your brain </div>
      </div>
    <div  class="place-block">
        <div  class="place-label"> Movie </div>
        <div class="place-value"> Dumbo (Family) </div>
      </div>
    </section>
      <section class="airports emergencyContact">
     <div  class="place-block">
        <div class="place-label"> Emergency Contact details </div>
        <div  class="place-value"> +1 123 456 8890 </div>
      </div>
    </section>
    </div>
    </div>
	
	<div  class="col-sm-12 col-md-6 col-lg-6 col-xl-6 px-2" style="text-align:center;width:100%">
    <div class="ticket inverse">
    <header>
      <div  class="company-name"> Amelia Smith <span  class="airport-name" style="float: right;"> 30yrs</span></div>
     
    </header>
    <section class="airports">
     
     
      <div class="airport">
    <img src="assets/img/adult2.JPG" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
        <div  class="airport-code" style="float: right;"> amelia@gmail.com </div>
        
      </div>
    </section>
    <section  class="place">
    <h1>PREFERENCE</h1>
      <div  class="place-block">
        <div  class="place-label"> Seat </div>
        <div  class="place-value"> window </div>
      </div>
      <div  class="place-block">
        <div  class="place-label"> Book </div>
        <div class="place-value"> Train your brain </div>
      </div>
    <div  class="place-block">
        <div  class="place-label"> Movie </div>
        <div class="place-value"> Dumbo (Family) </div>
      </div>
    </section>
      <section class="airports emergencyContact">
     <div  class="place-block">
        <div class="place-label"> Emergency Contact details </div>
        <div  class="place-value"> +1 123 456 8890 </div>
      </div>
    </section>
    </div>
    </div>
	</div>
	<div class="row">
	<div  class="col-sm-12 col-md-6 col-lg-6 col-xl-6 px-2" style="text-align:center;width:100%">
    <div class="ticket inverse">
    <header>
      <div  class="company-name"> John Smith <span  class="airport-name" style="float: right;"> 09yrs</span></div>
     
    </header>
    <section class="airports">
     
     
      <div class="airport">
    <img src="assets/img/kid1.JPG" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
       <div  class="airport-code" style="float: right;"> My favourite movie is DESPICABLE ME, I am a PEPPA PIG fan, I love reading GOOD NIGHT MOON and I love to visit DISNEY WORLD hurray!! </div>
       <img src="assets/img/peppapig.jpg" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
	   <img src="assets/img/despicableme.jpg" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
      </div>
    </section>
    <section  class="place">
    <h1>PREFERENCE</h1>

      <div  class="place-block">
        <div  class="place-label"> Seat </div>
        <div  class="place-value"><strong>window</strong>  </div>
      </div>
      
	  
	 
	   <div  class="place-block">
        <div  class="place-label"> Food Allergy </div>
        <div class="place-value"> No</div>
      </div>
	   <div  class="place-block">
        <div  class="place-label"> Inflight ScreenTime Limit </div>
        <div class="place-value"> 2 Hours </div>
      </div>
    </section>
	<section class="airports">
	<div class="airport" style="text-align:center">
		<img src="assets/img/schoolCalendar.jpg" style="height:42px;width:52px;margin-right:10px"/><span class="airport-code"><a href="javascript:void(0)" (click)="openSchoolHolidayCal()" style="">Click here to Plan vacation - Upcoming school holidays</a></span>
	</div>
	</section>
	<section class="place">
	<div class="airport">
		<img src="assets/img/wallet.jpg" style="height:42px;width:52px;margin-right:10px"><span class="airport-code"><a href="javascript:void(0)" (click)="openBarCode()">Use this wallet for inflight snacks purchases</a>
		</span>
		</div>
	</section>
      <section class="airports emergencyContact">
     <div  class="place-block">
        <div class="place-label"> Emergency Contact details </div>
        <div  class="place-value"> +1 123 456 8890 </div>
        <div  class="place-value"> Relationship: Father</div>
      </div>
    </section>
    </div>
    </div>
	
	<div  class="col-sm-12 col-md-6 col-lg-6 col-xl-6 px-2" style="text-align:center;width:100%">
    <div class="ticket inverse">
    <header>
      <div  class="company-name"> Jane Smith <span  class="airport-name" style="float: right;"> 11yrs</span></div>
     
    </header>
    <section class="airports">
     
     
      <div class="airport">
    <img src="assets/img/kid2.jpg" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
       <div  class="airport-code" style="float: right;"> My favourite movie is DESPICABLE ME, I am a star war lover, great fan of DC BOOKS Comics hurray!! </div>
       <img src="assets/img/starwars.jpg" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
	   <img src="assets/img/dc.jpg" style="position: relative; top: -5px;left: -26px;height:42px;width:52px;">
      </div>
    </section>
    <section  class="place">
    <h1>PREFERENCE</h1>

      <div  class="place-block">
        <div  class="place-label"> Seat </div>
        <div  class="place-value"><strong>window</strong>  </div>
      </div>
      
	  
	 
	   <div  class="place-block">
        <div  class="place-label"> Food Allergy </div>
        <div class="place-value"> No</div>
      </div>
	   <div  class="place-block">
        <div  class="place-label"> Inflight ScreenTime Limit </div>
        <div class="place-value"> 2 Hours </div>
      </div>
    </section>
	<section class="airports">
	<div class="airport" style="text-align:center">
		<img src="assets/img/schoolCalendar.jpg" style="height:42px;width:52px;margin-right:10px"/><span class="airport-code"><a href="javascript:void(0)" (click)="openSchoolHolidayCal()" style="">Click here to Plan vacation - Upcoming school holidays</a></span>
	</div>
	</section>
	<section class="place">
	<div class="airport">
		<img src="assets/img/wallet.jpg" style="height:42px;width:52px;margin-right:10px"><span class="airport-code"><a href="javascript:void(0)" (click)="openBarCode()">Use this wallet for inflight snacks purchases</a>
		</span>
		</div>
	</section>
      <section class="airports emergencyContact">
     <div  class="place-block">
        <div class="place-label"> Emergency Contact details </div>
        <div  class="place-value"> +1 123 456 8890 </div>
        <div  class="place-value"> Relationship: Father</div>
      </div>
    </section>
    </div>
    </div>
	</div>
    </div>
	
	<!-- modal -->
	 <!--pop up on click of repeat trip-->
 <div class="backdrop" style="display: none;"></div>
 <div class="modal schoolHolidays" tabindex="-1" role="dialog" style="display: none;">
   <!-- modal-dialog -->
   <div class="modal-dialog" role="document">
     <!-- modal-content -->
     <div class="modal-content">
       <div class="modal-body">
	 <table class="table table-hover" >
      <thead>
        <tr>
          <th>Holiday</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td>Teacher Workday (No School)</td>
          <td>Wednesday, January 2, 2019</td>
		</tr>
		<tr>
         <td>Martin Luther King Jr. Day</td>
          <td>Monday, January 21, 2019</td>
		 </tr>
		 <tr>
         <td>Presidents Day</td>
          <td>Monday, February 18, 2019</td>
		</tr>
		 <tr>
         <td>Memorial Day</td>
          <td>Monday, May 27, 2019</td>
		</tr>
		 <tr>
         <td>Independence Day</td>
          <td>Thursday, July 4–
Friday, July 5, 2019</td>
		</tr>
      </tbody>
    </table>
	</div>
	  <div class="modal-footer">
         <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
       </div>
	</div>
	</div>
	</div>
	
	

 <div class="backdrop" style="display: none;"></div>
 <div class="modal barCode" tabindex="-1" role="dialog"  style="display: none;">
   <!-- modal-dialog -->
   <div class="modal-dialog" role="document">
     <!-- modal-content -->
     <div class="modal-content">
       <div class="modal-body">
	  <img src="assets/img/barCode.jpg" style="position: relative; top: -5px;left: 167px;height:95px;width:124px;">
    <p><strong>Scan at flight for inflight snacks purchases</strong></p>
   <a href="assets/img/barCode.jpg" download> Click here to download the barcode</a>
	</div>
	  <div class="modal-footer">
         <button type="button" class="btn btn-default" (click)="closeBarCodeModal()" >Close</button>
       </div>
	</div>
	</div>
	</div>
